<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="System.ServiceModel.PeerResolvers.CustomPeerResolverService">
       <host>
          <baseAddresses>
             <add baseAddress="net.tcp://localhost/peerResolverService"/>
          </baseAddresses>
       </host>
        <!-- use base address provided by the host -->
            <endpoint address="net.tcp://localhost/peerResolverService" binding="netTcpBinding" bindingConfiguration="Binding1" contract="System.ServiceModel.PeerResolvers.IPeerResolverContract"/>
      </service>
    </services>
    <bindings>
       <netTcpBinding>
          <!-- You can change security mode to enable security -->
          <binding name="Binding1">
              <security mode="None"/>
          </binding>
       </netTcpBinding>
    </bindings>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
